/*
 * CUSTOM FONT EXAMPLE
 */

/*@font-face {
  font-family: 'DroidSerif';
  src: url(custom/DroidSerif-Regular-webfont.eot);
  src: url(custom/DroidSerif-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(custom/DroidSerif-Regular-webfont.woff2) format('woff2'), url(custom/DroidSerif-Regular-webfont.woff) format('woff'), url(custom/DroidSerif-Regular-webfont.ttf) format('truetype'), url(custom/DroidSerif-Regular-webfont.svg#DroidSerif-Regular-webfont) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSerif';
  src: url(custom/DroidSerif-Italic-webfont.eot);
  src: url(custom/DroidSerif-Italic-webfont.eot?#iefix) format('embedded-opentype'), url(custom/DroidSerif-Italic-webfont.woff2) format('woff2'), url(custom/DroidSerif-Italic-webfont.woff) format('woff'), url(custom/DroidSerif-Italic-webfont.ttf) format('truetype'), url(custom/DroidSerif-Italic-webfont.svg#DroidSerif-Italic-webfont) format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'DroidSerif';
  src: url(custom/DroidSerif-Bold-webfont.eot);
  src: url(custom/DroidSerif-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(custom/DroidSerif-Bold-webfont.woff2) format('woff2'), url(custom/DroidSerif-Bold-webfont.woff) format('woff'), url(custom/DroidSerif-Bold-webfont.ttf) format('truetype'), url(custom/DroidSerif-Bold-webfont.svg#DroidSerif-Bold-webfont) format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSerif';
  src: url(custom/DroidSerif-BoldItalic-webfont.eot?#iefix) format('embedded-opentype'), url(custom/DroidSerif-BoldItalic-webfont.woff2) format('woff2'), url(custom/DroidSerif-BoldItalic-webfont.woff) format('woff'), url(custom/DroidSerif-BoldItalic-webfont.ttf) format('truetype'), url(custom/DroidSerif-BoldItalic-webfont.svg#DroidSerif-BoldItalic-webfont) format('svg');
  font-weight: bold;
  font-style: italic;
}
*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600');

body {
  //font-family: 'Source Code Pro', monospace;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
}


h1 {
  font-size: 31px;
  line-height: 39px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  line-height: 32px;
  margin-top: 25px;
  margin-bottom: 15px;
}

h3 {

}

h4 {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 15px;
}

h5 {

}

h6 {

}

p {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 15px;
  &.-noRespBreak {
    @media (max-width: $resolutionTablet) {
      br {
        display: inline;
        content: ' ';
        clear:none;
      }
    }
  }
}

a {
  text-decoration: underline;
}