ul.hero__social
  li.hero__social-item
    a.btn.btn--hollow.btn--facebook(href="https://www.facebook.com/cesko.digital" target="_blank" rel="noopener noreferrer") Facebook
  li.hero__social-item
    a.btn.btn--hollow.btn--twitter(href="https://twitter.com/CeskoDigital" target="_blank" rel="noopener noreferrer") Twitter
  li.hero__social-item
    a.btn.btn--hollow.btn--github(href="http://github.com/cesko-digital" target="_blank" rel="noopener noreferrer") GitHub