.hero {
  background-color: #f5e2cc;
  position: relative;

  @media (min-width: $media-medium) {
    padding: 0 30px;
  }
  @media (min-width: $media-large) {
    padding: 0;
  }

  &:after {
    content: '';
    background-image: linear-gradient(-180deg, #fcf2e6 0%, #f5e2cc 100%);
    height: 160px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
  &__content {
    padding: 30px;
    position: relative;
    z-index: 2;
    
    @media (min-width: $media-small) {
      padding: 50px;
    }
    @media (min-width: $media-medium) {
      padding: 0;
      max-width: 610px;
      padding-top: 100px;
    }
  }

  &__title {
    margin-bottom: 23px;

    @media (min-width: $media-medium) {
      font-size: 54px;
    }
  }

  &__subtitle {
    margin-bottom: 32px;
  }

  &__wrap {
    position: relative;
    z-index: 2;
    @include background-2x('balance-mobile.jpg', 'balance-mobile@2x.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    padding-bottom: 80px;

    @media (min-width: $media-medium) {
      max-width: $layout-width;
      margin: 0 auto;

      @include background-2x('balance-desktop.jpg', 'balance-desktop@2x.jpg');
      background-position: bottom right;
      background-size: 700px 614px;
    }
  }

  &__social {
    margin-bottom: 140px;
    padding: 0 30px;

    @media (min-width: $media-small) {
      padding: 0 50px;
      margin-bottom: 210px;
      max-width: 70%;
    }

    @media (min-width: $media-medium) {
      margin-top: 90px;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__social-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__cta {
    padding: 0 30px;

    @media (min-width: $media-medium) {
      margin-top: 10px;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__cta-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}