.partners {
  background: #ffffff;

  &__wrap {
    max-width: $layout-width;
    margin: 0 auto;
  }

  &__content {
    padding: 80px 30px;

    @media (min-width: $media-large) {
      padding: 80px 0;
    }
  }
}

.partners-title {
  // Make title smaller in czech version on smaller screens to prevent bleeding outside of viewport
  @media (max-width: 374px) {
    font-size: 26px;
  }
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partners-item {
  width: 45%;
  max-width: 200px;
  margin: 0 2.5%;
  
  @media (min-width: $media-large) {
    width: auto;
    margin: 0 1rem;
  }
}

.partners-link {
  display: inline-block;
  line-height: 0;
}

.partners-link img {
  max-width: 100%;
}