.projects {
  background-color: #fcf2e6;

  &__wrap {
    max-width: $layout-width;
    margin: 0 auto;
  }

  &__content {
    padding: 80px 10px;

    @media (min-width: $media-large) {
      padding: 80px 0;
    }
  }
}

.project {
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;

  @media (hover: hover) {
    transition: box-shadow 200ms ease-in-out;

    &:hover {
      box-shadow: 0 11px 14px 0 rgba(74,48,17,0.04);
    }
  }

  &__content {
    padding: 20px;

    @media (min-width: $media-large) {
      padding: 40px 50px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 34px;
    color: #21262c;

    @media (min-width: $media-large) {
      font-size: 44px;
      line-height: 50px;
    }
  }

  &__stage {
    font-weight: bold;
    font-size: 16px;
    color: #8a4d04;
    line-height: 25px;
  }

  &__summary {
    @media (min-width: $media-large) {
      width: 35%;
    }
  }
  &__details {
    @media (min-width: $media-large) {
      width: 60%;
    }
  }
  &__label {
    margin-bottom: 0;
    font-weight: bold;
  }

  ol {
    list-style: decimal;
    padding-left: 2em;
    margin: 2em 0em;
  }
}