.team {
  background: #FCF2E6;

  &__wrap {
    max-width: $layout-width;
    margin: 0 auto;
  }

  &__content {
    padding: 80px 30px;

    @media (min-width: $media-large) {
      padding: 80px 0;
    }
  }
}