.values {
  background: #202d33;

  &__wrap {
    max-width: $layout-width;
    margin: 0 auto;
  }

  &__content {
    padding: 80px 30px;

    @media (min-width: $media-large) {
      padding: 80px 0;
    }
  }
}

.value-items {
  @media (min-width: $media-large) {
    display: flex;
    flex-wrap: wrap;
  }
}

.value-item {

  @media (min-width: $media-large) {
    width: 50%;
  }

  &__content {
    border-top: 2px solid rgba(255, 255, 255, .3);
    padding: 30px 0;

    @media (min-width: $media-large) {
      margin: 0 30px;
    }
    margin-bottom: 40px;
  }

  &:nth-child(odd) {
    .value-item__content {
      @media (min-width: $media-large) {
        margin-left: 0;
      }
    }
  }

  &:nth-child(even) {
    .value-item__content {
      @media (min-width: $media-large) {
        margin-right: 0;
      }
    }
  }

  &__title {
    font-size: 26px;
    color: #fff;
  }
}