//slouzi pro rozdeleni uvodnich sipek
.arrowDivider {
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 40px;
  .left {
    display: flex;
    overflow: hidden;
    width: $contentPadding;
    @media (max-width: $resolutionTablet) {
      width: $contentPaddingMobile;
    }
    flex-direction: row-reverse;
  }
  .right {
    display: flex;
    width: calc(100% - #{$contentPadding});
    @media (max-width: $resolutionTablet) {
      width: calc(100% - #{$contentPaddingMobile});
    }
    overflow: hidden;
  }
}


.arrowsFlex {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}

.arrows {
  //width: 100%;
  //height: 90px;
  //background-color: #f5f7fa;
  //justify-content: left;
  position: relative;

  &:before {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.2px;
    display: flex;
    //height: 90px;
    //width: 100%;
    background-repeat: repeat space;
    white-space: pre;
    color: $greyArrow;
  }
  &:after {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.2px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 90px; width: 100%;
    background-repeat: repeat space;
    white-space: pre;
  }

  /* OPTIONS */
  &.-big {
    &:before {
      content: '> > > > > > \00000a > > > > > > \00000a > > > > > > \00000a > > > > > > \00000a > > > > > > \00000a > > > > > > ';
    }
    &:after {
      display: none;
    }
  }
  &.-bigColored {
    &:before {
      content: '> > > > > > \00000a > > > > > > \00000a > > > > > > \00000a > > > > > > \00000a > > > > > > \00000a > > > > > > ';
    }
    &:after {
      content: '\00000a \00000a > > > > >\00000a > > > > >\00000a';
      color: $blue;
    }
  }
  &.-bigFirst {
    &:before {
      content: '> > > > > \00000a > > > > > \00000a > > > > > \00000a > > > > > \00000a > > > > > \00000a > > > > > \00000a > > > > > \00000a > > > > > ';
    }
    &:after {
      content: '> > > > > \00000a > > > > > \00000a > > > > > \00000a > > > > >';
      color: $blue;
    }
  }

  &.-medium {
    &:before {
      content: ' < < < < <\00000a  < < < < <\00000a  < < < < <\00000a  < < < < <';
    }
    &:after {
      display: none;
    }
  }
  &.-mediumColored {
    &:before {
      content: ' < < < < <\00000a  < < < < <\00000a  < < < < <\00000a  < < < < <';
    }
    &:after {
      content: ' < < < < <\00000a  < < < < <\00000a  < < < < <\00000a  < < < < <';
      color: $blue;
    }
  }

  &.-small {
    &:before {
      content: ' < < < < <\00000a  < < < < <';
    }
    &:after {
      display: none;
    }
  }
  &.-smallColored {
    &:before {
      content: ' < < < < <\00000a  < < < < <';
    }
    &:after {
      content: ' < < < < <\00000a  < < < < <';
      color: $blue;
    }
  }

}

//TODO: jinak, lepe, treba spocitat
.arrowButton {
  position: absolute;
  top: 45px;
  right: $contentPadding;
  @media (max-width: $resolutionTablet) {
    right: $contentPaddingMobile;
  }
  @media (max-width: 400px) {
    width: 270px;
    left: 50%;
    padding: 0;
    transform: translateX(-50%);
  }


}
