$badgeSize: 150px;
$badgeSizeMobile: 120px;

.badge {
  width: $badgeSize;
  height: $badgeSize;
  background-color: $purple;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  @media (max-width: 880px) {
    width: $badgeSizeMobile;
    height: $badgeSizeMobile;
  }
  &_number {
    color: $white;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.5px;
    span {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }
  &_text {
    color: $blackInDark;
    text-align: center;
    font-size: 13px;
    line-height: 17px;
    font-weight: normal;
  }
}

.badgeflex {
  display: flex;
  padding-top: 14px;
  padding-bottom: 35px;
  justify-content: space-between;
  margin: 0 auto;
  @media (max-width: $resolutionTablet) {
    flex-wrap: wrap;
    width: 270px;
    padding-bottom: 0;
    .badge {
      margin-bottom: 20px;
    }
  }

}
