.btn {
  display: inline-block;
  background-color: $blue;
  color: $white;
  height: 50px;
  line-height: 50px;
  padding: 0 80px;
  border-radius: 26px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  @include globalTransition();
  box-shadow: 0 4px 7px rgba(99, 116, 195, 0.2929);
  &:hover {
    color: $blue;
    background-color: $white;
  }

  /* OPTIONS */
  &.-white {
    background-color: $white;
    color: $blue;
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}