.references {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reference {
  display: flex;
  flex-basis: 100px;
  //width: 100px;
  margin: auto;
  div {
    margin-bottom: 20px;
    img {
      margin: auto;
      display: block;
      width: 100%;
    }
  }
}