.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;

  &--hollow {
    border: 2px solid rgba(36,33,29,0.20);
    border-radius: 45px;
    font-weight: bold;
    font-size: 14px;
    padding: 13px 30px;

    @media (hover: hover) {
      transition: all 200ms ease-in-out;

      &:hover {
        border: 2px solid rgba(36,33,29,0.60);
      }
    }
  }

  &--facebook,
  &--github,
  &--trello,
  &--twitter,
  &--slack {
    position: relative;
    padding-left: 50px;
    margin-right: 10px;
    margin-bottom: 10px;


    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -10px;
    }
  }

  &--facebook {
    &:before {
      background-image: url('../images/fb-icon.svg');
    }
  }

  &--github {
    &:before {
      background-image: url('../images/gh-icon.svg');
    }
  }

  &--trello {
    &:before {
      background-image: url('../images/trello-icon.svg');
    }
  }

  &--twitter {
    &:before {
      background-image: url('../images/twitter-icon.svg');
    }
  }

  &--slack {
    &:before {
      background-image: url('../images/slack-icon.svg');
    }
  }

  &--cta {
    background-color: #3E877D;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 45px;

    @media (hover: hover) {
      transition: all 200ms ease-in-out;

      &:focus,
      &:hover {
        background-color: #226259;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12);
      }
    }
  }

  & + & {
  }
}