body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  color: $text-color;
}

.g-title-h1 {
  font-size: $title-h1-size;
}

.g-subtitle-h1 {
  font-size: $subtitle-h1-size;
  line-height: $subtitle-h1-line;
}

.g-title-h2 {
  font-size: $title-h2-size;
  margin-bottom: 30px;
  max-width: 500px;
}

p {
  margin-bottom: 30px;
  line-height: 1.4;
}

ol, ul {
  line-height: 1.4;
}