$serif-font-family: 'Work Sans', sans-serif;

$text-color: #24211D;

$title-h1-size: 34px;
$title-h2-size: 34px;

$subtitle-h1-size: 16px;
$subtitle-h1-line: 26px;

$media-small: 375px;
$media-medium: 768px;

$layout-width: 1040px;