@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Commonly used Tailwind shorthands.
 *
 * NOTE: Avoid premature abstraction here:
 * https://tailwindcss.com/docs/reusing-styles
 */

@layer components {
  /*
   * Typography
   * Inspired by https://developer.apple.com/design/human-interface-guidelines/typography
   */
  .typo-title {
    @apply text-4xl font-bold;
  }
  .typo-title2 {
    @apply text-3xl font-bold;
  }
  .typo-title3 {
    @apply text-2xl font-bold;
  }
  .typo-subtitle {
    @apply text-2xl;
  }
  .typo-caption {
    @apply text-sm;
  }
  .typo-link {
    @apply underline underline-offset-2;
  }

  /* Buttons */
  .btn-primary {
    @apply cursor-pointer rounded-md bg-it px-5 py-2 text-white no-underline;
  }
  .btn-inverted {
    @apply cursor-pointer rounded-md bg-white px-5 py-2 text-it no-underline;
  }
  .btn-disabled {
    @apply cursor-not-allowed rounded-md bg-gravel px-5 py-2 text-white no-underline;
  }
  .btn-destructive {
    @apply cursor-pointer rounded-md bg-red-500 px-5 py-2 text-white no-underline;
  }

  /* Utils */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* Fonts */

@font-face {
  font-family: "Cesko Digital";
  font-display: swap;
  src:
    url("https://data.cesko.digital/font/regular.woff2") format("woff2"),
    url("https://data.cesko.digital/font/regular.woff") format("woff"),
    url("https://data.cesko.digital/font/regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital";
  font-display: swap;
  src:
    url("https://data.cesko.digital/font/medium.woff2") format("woff2"),
    url("https://data.cesko.digital/font/medium.woff") format("woff"),
    url("https://data.cesko.digital/font/medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital";
  font-display: swap;
  src:
    url("https://data.cesko.digital/font/semibold.woff2") format("woff2"),
    url("https://data.cesko.digital/font/semibold.woff") format("woff"),
    url("https://data.cesko.digital/font/semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital";
  font-display: swap;
  src:
    url("https://data.cesko.digital/font/bold.woff2") format("woff2"),
    url("https://data.cesko.digital/font/bold.woff") format("woff"),
    url("https://data.cesko.digital/font/bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}

/* Default styles after Tailwind reset */

body {
  font-family: "Cesko Digital", system-ui, sans-serif;
  font-size: large;
  line-height: 1.6em;
  accent-color: blue;
}

/*
 * Embedded Markdown styles
 *
 * This is used for project descriptions and also for market-place offers.
 */

.embedded-markdown a {
  color: blue;
  text-decoration: underline;
}

.embedded-markdown p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.embedded-markdown ul {
  list-style-type: disc;
  margin-left: 1em;
}

.embedded-markdown h2,
.embedded-markdown h3 {
  font-weight: bold;
}

.embedded-markdown h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.embedded-markdown h3 {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
