#__next {
  overflow-x: hidden;
}

body {
  font-family: "Cesko Digital", system-ui, sans-serif;
}

@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-regular.woff2") format("woff2"),
    url("/fonts/cesko.digital-regular.woff") format("woff"),
    url("/fonts/cesko.digital-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-medium.woff2") format("woff2"),
    url("/fonts/cesko.digital-medium.woff") format("woff"),
    url("/fonts/cesko.digital-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-semibold.woff2") format("woff2"),
    url("/fonts/cesko.digital-semibold.woff") format("woff"),
    url("/fonts/cesko.digital-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-bold.woff2") format("woff2"),
    url("/fonts/cesko.digital-bold.woff") format("woff"),
    url("/fonts/cesko.digital-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-regular.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-regular.woff") format("woff"),
    url("/fonts/cesko.digital.mono-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-medium.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-medium.woff") format("woff"),
    url("/fonts/cesko.digital.mono-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-semibold.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-semibold.woff") format("woff"),
    url("/fonts/cesko.digital.mono-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-bold.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-bold.woff") format("woff"),
    url("/fonts/cesko.digital.mono-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}
