@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  overflow-x: hidden;
}

/*
 * Commonly used Tailwind shorthands.
 *
 * NOTE: Avoid premature abstraction here:
 * https://tailwindcss.com/docs/reusing-styles
 */

@layer components {
  .btn-primary {
    @apply bg-it text-white px-5 py-2 rounded-md no-underline hover:drop-shadow-lg;
  }
  .btn-inverted {
    @apply bg-white text-it px-5 py-2 rounded-md no-underline hover:drop-shadow-lg border-2 border-violet;
  }
  .btn-disabled {
    @apply bg-gray-400 text-white px-5 py-2 rounded-md no-underline hover:drop-shadow-lg;
  }
}

/* Initial styles after Tailwind reset */

html {
  line-height: 1.3;
}

body {
  font-family: "Cesko Digital", system-ui, sans-serif;
}

a {
  color: blue;
  text-decoration: underline;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

ul {
  list-style-type: disc;
  margin-left: 1em;
}

h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

h3 {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* Fonts */

@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-regular.woff2") format("woff2"),
    url("/fonts/cesko.digital-regular.woff") format("woff"),
    url("/fonts/cesko.digital-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-medium.woff2") format("woff2"),
    url("/fonts/cesko.digital-medium.woff") format("woff"),
    url("/fonts/cesko.digital-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-semibold.woff2") format("woff2"),
    url("/fonts/cesko.digital-semibold.woff") format("woff"),
    url("/fonts/cesko.digital-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-bold.woff2") format("woff2"),
    url("/fonts/cesko.digital-bold.woff") format("woff"),
    url("/fonts/cesko.digital-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-regular.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-regular.woff") format("woff"),
    url("/fonts/cesko.digital.mono-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-medium.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-medium.woff") format("woff"),
    url("/fonts/cesko.digital.mono-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-semibold.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-semibold.woff") format("woff"),
    url("/fonts/cesko.digital.mono-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-bold.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-bold.woff") format("woff"),
    url("/fonts/cesko.digital.mono-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}

/*
  YouTube embed styles from the “react-lite-youtube-embed” package.
  We should import the styles directly from the package distribution
  in the appropriate component, but there’s a bug in the gradiant styles,
  so we fix it locally here and once it’s fixed upstream, we can delete
  these styles:

  https://github.com/ibrahimcesar/react-lite-youtube-embed/pull/75
*/

.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
}
.yt-lite:before {
  content: "";
  box-sizing: content-box;
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:after {
  content: "";
  display: block;
  padding-bottom: var(--aspect-ratio);
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.yt-lite > .lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: #212121;
  z-index: 1;
  opacity: 0.8;
  border-radius: 14%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  background-color: red;
  opacity: 1;
}
.yt-lite > .lty-playbtn:before {
  content: "";
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 11px 0 11px 19px;
}
.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated:before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}

/* Marketplace listing overrides */
/* TODO: Move into a separate file? */

.marketplace-list .text {
  line-height: 150%;
}

.marketplace-list .text p {
  margin: 0 0 0.75em 0;
}

.marketplace-list .text strong {
  font-weight: normal;
}

.marketplace-list .text a {
  color: black;
}

/* Marketplace extra styles */

.marketplace-list .highlighted {
  background-color: #e5e5ff;
  padding: 1em;
  border-radius: 10px;
}
