@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  overflow-x: hidden;
}

/* Initial styles after Tailwind reset */

html {
  line-height: 1.3;
}

body {
  font-family: "Cesko Digital", system-ui, sans-serif;
}

a {
  color: blue;
  text-decoration: underline;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

ul li {
  list-style-type: disc;
  margin-left: 1em;
}

h3 {
  font-weight: bold;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* Fonts */

@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-regular.woff2") format("woff2"),
    url("/fonts/cesko.digital-regular.woff") format("woff"),
    url("/fonts/cesko.digital-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-medium.woff2") format("woff2"),
    url("/fonts/cesko.digital-medium.woff") format("woff"),
    url("/fonts/cesko.digital-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-semibold.woff2") format("woff2"),
    url("/fonts/cesko.digital-semibold.woff") format("woff"),
    url("/fonts/cesko.digital-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital";
  src: url("/fonts/cesko.digital-bold.woff2") format("woff2"),
    url("/fonts/cesko.digital-bold.woff") format("woff"),
    url("/fonts/cesko.digital-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-regular.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-regular.woff") format("woff"),
    url("/fonts/cesko.digital.mono-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-medium.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-medium.woff") format("woff"),
    url("/fonts/cesko.digital.mono-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-semibold.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-semibold.woff") format("woff"),
    url("/fonts/cesko.digital.mono-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Cesko Digital Mono";
  src: url("/fonts/cesko.digital.mono-bold.woff2") format("woff2"),
    url("/fonts/cesko.digital.mono-bold.woff") format("woff"),
    url("/fonts/cesko.digital.mono-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}
