/* LAYOUT THOUGHTS */

body {
  background-color: #f9f9f9;
}

.content {
  display: block;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: $contentPadding;
  padding-right: $contentPadding;
  position: relative;
  @media (max-width: $resolutionTablet) {
    padding-left: $contentPaddingMobile;
    padding-right: $contentPaddingMobile;
  }

  /* OPTIONS */
  &.-reset {
    padding-left: 0;
    padding-right: 0;
  }
  &.-arrowHeader {
    padding-left: $contentPadding;
    @media (max-width: $resolutionTablet) {
      padding-left: $contentPaddingMobile;
    }
    padding-right: 0;
    padding-top: 25px;
    display: flex;
    h2 {
      margin-top: 0;
    }
    .arrowsFlex {
      align-items: flex-start !important;
      margin-left: auto;
    }
  }
}

section, article, header, footer {
  overflow:auto;
  padding-bottom: 40px;
  background-color: $white;
  @media (max-width: $resolutionTablet) {
    padding-bottom: 20px;
  }
}




.text-align {
  &.-right {
    text-align: right;
  }
  &.-left {
    text-align: left;
  }
  &.-center {
    text-align: center;
  }
}

.hideOn {
  &.-r1000 {
    @media (max-width: 1000px) {
      display: none;
    }
  }
  &.-r940 {
    @media (max-width: 940px) {
      display: none;
    }
  }
  &.-r870 {
    @media (max-width: 870px) {
      display: none;
    }
  }
  &.-r700 {
    @media (max-width: 700px) {
      display: none;
    }
  }
  &.-r610 {
    @media (max-width: 610px) {
      display: none;
    }
  }
  &.-r550 {
    @media (max-width: 550px) {
      display: none;
    }
  }
  &.-r500 {
    @media (max-width: 500px) {
      display: none;
    }
  }
  &.-r450 {
    @media (max-width: 450px) {
      display: none;
    }
  }
  &.-r400 {
    @media (max-width: 400px) {
      display: none;
    }
  }
  &.-tablet {
    @media (max-width: $resolutionTablet) {
      display: none;
    }
  }
}



/* jednotlive upravy sekci */

.cityVizor {
  h2 {
    margin-bottom: 2px !important;
  }
  h4 {
    margin-top: 0;
  }
  p {
    margin-bottom: 30px;
  }
}

.nasTym {
  .btn {
    margin-bottom: 15px;
  }
}



