extends layout.pug

block vars
  - var lang = "en";
  - var title = "Czechia.Digital - changing Czechia for the better through ones and zeroes";
  - var description = "We are a community of top developers, designers and product people who want to use their free time to help state and non-governmental organizations and make the Czechia a better place to live."
  - var ogTitle = "Changing Czechia for the better through ones and zeroes";
  - var ogDescription = "We are a community of top developers, designers and product people who want to use their free time to help state and non-governmental organizations and make the Czechia a better place to live.";

block content
  .hero
    header.header
      a.btn.nav__link.nav__link--nopadding.logo(href='https://cesko.digital/')
        span.logo__inner
          | cesko.digital
          span
      nav
        ul.nav
          li
            a.btn.nav__link(href='#idea') Our vision
          li
            a.btn.nav__link(href='#team') About us
          li
            a.btn.nav__link(href='#media') Media kit
          li
            a.btn.nav__link(href='index.html') Česky
          li
            a.btn.nav__link.nav__link--cta.g-hide-mobile(href='https://slack.cesko.digital/') Join us
    .hero__wrap
      .hero__content
        h1.g-title-h1.hero__title Changing Czechia for the better through ones and zeroes
        p.g-subtitle-h1.hero__subtitle
          | We are a community of top developers, designers and production people who want to use their free time to help state and non-governmental organizations and make Czechia a better place to live.
        a.btn.btn--cta(href='https://slack.cesko.digital/') Join us

      include includes/social

  section.numbers
    ul.numbers__list
      li.number.numbers__list-item
        a(href="https://slack.cesko.digital/").number__value 568
        span.number__label People involved
      li.number.numbers__list-item
        a(href="https://github.com/cesko-digital").number__value 2
        span.number__label Completed projects
      li.number.numbers__list-item
        a(href="#projects").number__value 5
        span.number__label Projects underway
      li.number.numbers__list-item
        span.number__value 147
        span.number__label Commits

  section#idea.idea
    .idea__wrap
      .idea__content
        h2.g-title-h2 About Czechia.Digital
        p
          | We are a community of top developers, designers and production people who want to use their free time to help state and non-governmental organizations and make Czechia a better place to live. We have behind us worldwide success and a combined total of hundreds of years’ experience. And we know that with the help of IT we can achieve great things, which cost less but work better.
        p This is Czechia.Digital.
        p
          | Are you working on community projects, but you’re missing IT professionals?
          a(href='mailto:lenka@cesko.digital') Get in touch
          | .
        p
          | Do you study or work in IT?
          a(href='https://slack.cesko.digital/') Come join us
  //- section#team.team
    .team__wrap
      .team__content
        h2.g-title-h2 Let's meet!
        p
          | The next meetup will happen this Thursday, May 23rd at 18h in
          a(href='https://node5.cz/en/contacts/') Node5
          | .

  //- section#partners.partners
  //- section#projects.projects
    .projects__wrap
      .projects__content
        -
          var labels = {
            //- about: 'About project',
            more: 'What we bring',
          };

          var projects = [
          ];

        if projects && projects.length
          h2.g-title-h2 Česko.Digital projects
          .project-list
            each project in projects
              +project(labels, project)
  section#media.media
    .media__wrap
      .media__content
        h2.g-title-h2 Media kit
        a(href='assets/cesko-digital_logo.zip') Logo Czechia.Digital
        br
        a(href='assets/press-release.pdf') Press release Czechia.Digital
  section#faq.faq
    .faq__wrap
      h2.g-title-h2.g-title-h2--light Frequently asked questions

      -
        var faqs = [
          { title: 'How does this work?', value: 'Our main place of work and communication is our Slack. To get started it’s best to join there first. Most of our documentation/materials are in Czech, but feel free to ask an English question and there will be plenty of people able to talk to you.' },
          { title: 'Yet another “hackathon for good”?', value: 'Hackathons are great for short-term bursts of creative energy, ale but long-term the resulting projects usually die from lack of maintenance. Czechia.Digital is focusing on long-term leadership and development of IT projects.' },
          { title: 'How much do you charge for your work?', value: 'Members of Czechia.Digital work on projects in their free time, free of charge, motivated by the drive to improve the world we live in.' },
          { title: 'Why don’t you rather go and help _____ ?', value: 'We trust that everybody should help the best way they can. We love technology and believe we can use it (given the right idea) to help many people with great efficiency.' },
          { title: 'I wonder who’s paying for all this!', value: 'We try to maintain a lean, effective organization with minimal budget. We are financed purely from private donors.' },
          { title: 'Who are the people behind Czechia.Digital?', value: 'The project was originally founded by Jakub Nešetřil in cooperation with Lenka Kováčová from Nadace OSF. But nowadays Czechia.Digital consists of hundreds of people helping us make Czechia a better place.' },
        ];

      each item in faqs
        +faq(item)
  footer.footer
    ul.nav.nav--footer
      li
        a.btn.nav__link.nav__link--footer(href='#idea') Our vision
      li
        a.btn.nav__link.nav__link--footer(href='#team') About us
      li
        a.btn.nav__link.nav__link--footer(href='#media') Media kit
      li
        a.btn.nav__link.nav__link--footer(href='index.html') Česky
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta.g-hide-mobile(href='https://slack.cesko.digital/') Join us
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="https://www.facebook.com/cesko.digital" target="_blank" rel="noopener noreferrer") Facebook
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="https://twitter.com/CeskoDigital" target="_blank" rel="noopener noreferrer") Twitter
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="http://github.com/cesko-digital" target="_blank" rel="noopener noreferrer") GitHub
