extends layout.pug

block vars
  - var lang = "en";
  - var title = "Česko.Digital - changing Czechia for the better through ones and zeroes";
  - var description = "We are a community of top developers, designers and product people who want to use their free time to help state and non-governmental organizations and make the Czechia a better place to live."
  - var ogTitle = "Changing Czechia for the better through ones and zeroes";
  - var ogDescription = "We are a community of top developers, designers and product people who want to use their free time to help state and non-governmental organizations and make the Czechia a better place to live.";

block content
  .hero
    header.header
      a.btn.nav__link.nav__link--nopadding.logo(href='https://cesko.digital/')
        span.logo__inner
          | cesko.digital
          span
      nav
        ul.nav
          li
            a.btn.nav__link(href='#idea') About us
          li
            a.btn.nav__link(href='https://blog.cesko.digital/') Blog
          li
            a.btn.nav__link(href='index.html') Česky

    .hero__wrap
      .hero__content
        h1.g-title-h1.hero__title Changing Czechia for the better through ones and zeroes
        p.g-subtitle-h1.hero__subtitle
          | We are a community of top developers, designers and production people who want to use their free time to help state and non-governmental organizations and make Czechia a better place to live.
        ul.hero__cta
          li.hero__cta-item
            a.btn.btn--cta(href='https://join.slack.com/t/cesko-digital/shared_invite/zt-6ygukc79-RwoSj8b90rZx1_4P_oJHow') Join us
          li.hero__cta-item
            a.btn.btn--cta(href='https://forms.gle/yAxPSueBJgyffEGi8') Submit project

      include includes/social

  section.numbers
    ul.numbers__list
      li.number.numbers__list-item
        a(href="https://slack.cesko.digital/").number__value 3000
        span.number__label People involved
      li.number.numbers__list-item
        a(href="https://github.com/cesko-digital").number__value 5
        span.number__label Completed projects
      li.number.numbers__list-item
        a(href="#projects").number__value 10+
        span.number__label Projects underway
      li.number.numbers__list-item
        span.number__value ∞
        span.number__label Commits

  section#idea.idea
    .idea__wrap
      .idea__content
        h2.g-title-h2 About Česko.Digital
        p
          | We are a community of top developers, designers and production people who want to use their free time to help state and non-governmental organizations and make Czechia a better place to live. We have behind us worldwide success and a combined total of hundreds of years’ experience. And we know that with the help of IT we can achieve great things, which cost less but work better.
        p This is Česko.Digital.
        p
          | Are you working on community projects, but you’re missing IT professionals?&nbsp;
          a(href='https://forms.gle/yAxPSueBJgyffEGi8' target="_blank") Get in touch
          | .
        p
          | Do you study or work in IT?&nbsp;
          a(href='https://slack.cesko.digital/') Come join us

  section#projects.projects
    .projects__wrap
      .projects__content
        -
          var labels = {};

          var projects = [
            {
              title: 'Učíme online',
              tagline: 'Remote education made easy',
              about: 'We help schools, teachers, parents and students to get the most out of remote education using Microsoft Teams or Google Classroom – from deploying and configuring the software through teacher training and inspiration to student and parent how-tos.',
              more: 'The project was started in cooperation with the GUG.cz community, GEG ČR, Microsoft Studentské trenérské centrum, Microsoft Innovative Educator Experts, Google ČR, Microsoft ČR, and American Academy.',
              web: 'https://www.ucimeonline.cz',
              slack: 'p-ucime-online',
              slackUrl: 'https://cesko-digital.slack.com/archives/CUXRHTY58',
            },
            {
              title: 'Dáme roušky',
              tagline: 'We connected those who made face masks with those who needed them',
              about: 'Česko.Digital volunteers together with the Mapotic startup have created a map that responds to the critical shortage of protective gear during the covid-19 pandemic. The map has received over 1400 points of interest in the first week after its launch, all of them serving to connect people – people making face masks, people needing them, people who 3D-print mask making rigs, people who fix sewing machines, people offering other related services. The damerousky.cz domain was the second most popular anti-covid project on the Czech web and was officially endorsed by the Czech Ministry of Health as a face mask distribution tool. After the critical wave ended the map was turned into a memorial in tribute of the thousands people who contributed to the effort.',
              web: 'https://www.damerousky.cz',
              slack: 'p-damerousky',
              slackUrl: 'https://cesko-digital.slack.com/archives/CV4566SRG',
            },
            {
              title: 'Tender templates™',
              tagline: 'Better tenders for the public service',
              about: 'Almost everyone agrees that the tenders for goods, services and new employees in the Czech public sector deserve improving. We would like to find agreement on how precisely such better tenders could work. We are looking for experts from the public service – get in touch!',
              slack: 'p-sablony-vyberovych-rizeni',
              slackUrl: 'https://cesko-digital.slack.com/archives/CSHURJA9L',
            },
            {
              title: 'Paragonek',
              tagline: 'No more paper receipts',
              about: 'Our new project developed under the “Paragonek” code-name aims to create a single point for digital customer receipts, making paper receipts obsolete, saving businesses money and promoting paperless business solutions.',
              slack: 'p-paragonek',
              slackUrl: 'https://cesko-digital.slack.com/archives/CUM0HJ5QB',
            },
            {
              title: 'Jehlomat',
              tagline: 'Fast & safe syringe cleanup from public spaces',
              about: 'The main objective of this project is fast and safe cleanup of syringes from public spaces, engaging the public, field workers and police officers.',
              more: 'The project is now being prepared, we are building a realization team.',
              slack: 'p-jehlomat',
              slackUrl: 'https://cesko-digital.slack.com/archives/C017VKLRRC0',
            },
            {
              title: 'Cityvizor',
              tagline: 'Transparent economy for every city and municipality',
              about: 'Open-source project started by the Ministry of Finances in Czech Republic brings clear visualisation of the budget for municipalities with detailed data to the level of each invoice and opens the economy that way.',
              github: 'https://github.com/cityvizor/cityvizor',
              slack: 'p-cityvizor',
              slackUrl: 'https://cesko-digital.slack.com/messages/CG66HNLH4',
              trello: 'https://trello.com/b/BFJahQYG/cityvizor',
            },
            {
              title: 'Nasipolitici.cz',
              tagline: 'The biggest open database of Czech politicians',
              about: 'Together with Transparency International and Hlídač státu we have launched a new generation of Naši politici, the biggest open fact-checked database of Czech politicians.',
              web: 'https://nasipolitici.cz',
              slack: 'p-nasi-politici',
              slackUrl: 'https://cesko-digital.slack.com/messages/CK0ER8UBG',
              trello: 'https://trello.com/b/gJA4Y6Ml/na%C5%A1i-politici'
            },
            {
              title: 'Nedlužím státu',
              tagline: 'We’re helping people find their total debt',
              about: 'By leveraging the data boxes (datové schránky), automatically generated requests and hopefully machine readable answers, we want to build a portal which would help citizens to find out if or how much they own to public institutions. The reasons some people end in insolvency is partly due to ignorance about their debt. In the case of public institutions the task of collecting complex overviews is almost impossible.',
              more: 'Currently we are working on a first version of the website.',
              slack: 'p-prehled-dluhu',
              slackUrl: 'https://cesko-digital.slack.com/messages/CHTQQN5AL',
              trello: 'https://trello.com/b/UQaCcU62/p%C5%99ehled-dluh%C5%AF'
            },
            {
              title: 'Innovations in news storytelling',
              tagline: 'Engage and inform news readers through technology',
              about: 'Česko.Digital is joining forces with the Independent journalism foundation to help Czech journalists to engage, explain and inform their audience through technology. The project aims to find 2–3 functional prototypes of technological solutions that motivate and encourage Czech newsrooms to innovate in news storytelling.',
              slack: 'p-inovace-zpravodajského-storytellingu',
              slackUrl: 'https://cesko-digital.slack.com/archives/C01AENB1LPP'
            },
            {
              title: 'Střecha duševního zdraví',
              tagline: 'Connecting the world of mental health in Czechia',
              about: 'We want to create a central point for preventing mental health issues, mental distress and difficult life situations in kids and young adults. We have created a partnership with mental health experts and organizations and we are preparing a requirements analysis that would lead us to a solution.',
              slack: 'p-strecha-dusevniho-zdravi',
              slackUrl: 'https://cesko-digital.slack.com/archives/C01168N8XP1'
            }
          ];

        if projects && projects.length
          h2.g-title-h2 Česko.Digital projects
          .project-list
            each project in projects
              +project(labels, project)

  section#media.media
    .media__wrap
      .media__content
        h2.g-title-h2 Media kit
        ul
          li
            a(href='assets/cesko-digital_logo.zip') Logo Česko.Digital
          li
            a(href='assets/press-release.pdf') Press release Česko.Digital
          li
            span Media Contact:
            a.media__list-link(href='mailto:radka@cesko.digital') radka@cesko.digital

  section#faq.faq
    .faq__wrap
      h2.g-title-h2.g-title-h2--light Frequently asked questions

      -
        var faqs = [
          { title: 'How does this work?', value: 'Our main place of work and communication is our Slack. To get started it’s best to join there first. Most of our documentation/materials are in Czech, but feel free to ask an English question and there will be plenty of people able to talk to you.' },
          { title: 'Which projects do you want to work with?', value: 'When choosing which projects we can help, we follow two basic criteria – what added value will collaboration with Česko.Digital have and what positive societal impact will the finished project bring. During the decision-making we lean on our <a href="#values">core values</a> and <a href="http://ashoka-cee.org/czech/en/fellows-en/#fellows-criteria" target="_blank">requirements for enrolling new members</a> of Ashoka.<br><br>Do you know a suitable project for Česko.Digital?<br><br><a href="https://forms.gle/yAxPSueBJgyffEGi8" style="font-weight: bold" target="_blank">Submit a new application to Česko.Digital</a>' },
          { title: 'Yet another “hackathon for good”?', value: 'Hackathons are great for short-term bursts of creative energy, but long-term the resulting projects usually die from lack of maintenance. Česko.Digital is focusing on long-term leadership and development of IT projects.' },
          { title: 'How much do you charge for your work?', value: 'Members of Česko.Digital work on projects in their free time, free of charge, motivated by the drive to improve the world we live in.' },
          { title: 'Why don’t you rather go and help _____ ?', value: 'We trust that everybody should help the best way they can. We love technology and believe we can use it (given the right idea) to help many people with great efficiency.' },
          { title: 'I wonder who’s paying for all this!', value: 'We try to maintain a lean, effective organization with minimal budget. We are financed purely from private donors.' },
          { title: 'Who are the people behind Česko.Digital?', value: 'The project was originally founded by Jakub Nešetřil in cooperation with Lenka Kováčová from Nadace OSF. But nowadays Česko.Digital consists of hundreds of people helping us make Czechia a better place.' },
        ];

      each item in faqs
        +faq(item)

  section#values.values
    .values__wrap
      .values__content
        h2.g-title-h2.g-title-h2--light Values of Česko.Digital

        -
          var values = [
            { title: 'Open by Default', value: 'Open source, data, organization, accounting - transparency helps us with involving a wide community.' },
            { title: 'Efectiveness', value: 'We focus on quick solutions to real problems using technology, we don\'t waste time nor money.'},
            { title: 'Profesionalism', value: 'Despite working pro-bono, we take pride in excelent work, modern technologies and work-flows.'},
            { title: 'Participatory', value: 'Everybody should be able to join easily, regardless of their time and place.'},
            { title: 'User-centered', value: 'We develop projects based on real user (citizen) needs. Projects without usage are projects without meaning.'},
            { title: 'Products over Technology', value: 'We are a team of product managers, designers, developers who together work on creating a digital future kind to human beings.'}
          ]
        ul.value-items
          each value in values
            +value(value)

  section#partners.partners
    .partners__wrap
      .partners__content
        h2.g-title-h2 Partners

        -
          var partners = [
            { name: 'Cityvizor.cz', src: require('./images/partners/cityvizor.jpg'), link: 'https://cityvizor.cz/' },
            { name: 'CZ.NIC', src: require('./images/partners/cz-nic.jpg'), link: 'https://www.nic.cz/' },
            { name: 'Hlídač státu', src: require('./images/partners/hlidac-statu.jpg'), link: 'https://www.hlidacstatu.cz/' },
            { name: 'Institut prevence a řešení předlužení', src: require('./images/partners/institut-predluzeni.jpg'), link: 'https://www.institut-predluzeni.cz/' },
            { name: 'Nadace OSF', src: require('./images/partners/osf.jpg'), link: 'https://osf.cz/cs/' },
            { name: 'Transparency International', src: require('./images/partners/transparency.jpg'), link: 'https://www.transparency.cz/' },
            { name: 'Y Soft', src: require('./images/partners/ysoft.jpg'), link: 'https://www.ysoft.com/cs' },
            { name: 'Otevřená města', src: require('./images/partners/otevrena-mesta.png'), link: 'https://www.otevrenamesta.cz/' },
          ]
        ul.partners-list
          each partner in partners
            +partner(partner)

  footer.footer
    ul.nav.nav--footer
      li
        a.btn.nav__link.nav__link--footer(href='#idea') About us
      li
        a.btn.nav__link.nav__link--footer(href='https://blog.cesko.digital/') Blog
      li
        a.btn.nav__link.nav__link--footer(href='index.html') Česky
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta.g-hide-mobile(href='https://slack.cesko.digital/') Join us
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="https://www.facebook.com/cesko.digital" target="_blank" rel="noopener noreferrer") Facebook
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="https://twitter.com/CeskoDigital" target="_blank" rel="noopener noreferrer") Twitter
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="http://github.com/cesko-digital" target="_blank" rel="noopener noreferrer") GitHub


  a.sdg(href="https://www.spolecenskaodpovednost.cz/cesko-zna-nejlepsi-projekty-udrzitelnosti-pro-rok-2020-oceneny-byly-v-cenach-sdgs/" target="_blank" rel="noopener noreferrer")
    img(src='dist/'+require('./images/sdg.png'), alt='2020 SDGs Award Winner')
