extends layout.pug

block vars
  - var lang = "cs";
  - var title = "Česko.Digital - Skrz jedničky a nuly měníme Česko k lepšímu";
  - var description = "Jsme komunita špičkových vývojářů, designérů a produkťáků, kteří chtějí ve svém volném čase pomáhat státu i nestátním organizacím a dělat tak Česko lepším místem k životu."
  - var ogTitle = "Skrz jedničky a nuly měníme Česko k lepšímu";
  - var ogDescription = "Jsme komunita špičkových vývojářů, designérů a produkťáků, kteří chtějí ve svém volném čase pomáhat státu i nestátním organizacím a dělat tak Česko lepším místem k životu.";

block content
  .hero
    header.header
      a.btn.nav__link.nav__link--nopadding.logo(href='https://cesko.digital/', aria-label='Česko.Digital')
        span.logo__inner
          | cesko.digital
          span
      nav
        ul.nav
          li
            a.btn.nav__link(href='#idea') Kdo jsme
          li
            a.btn.nav__link(href='#projects') Co děláme
          li
            a.btn.nav__link(href='https://blog.cesko.digital/') Blog
          li
            a.btn.nav__link(href='en.html') English


    .hero__wrap
      .hero__content
        h1.g-title-h1.hero__title Skrz jedničky a nuly měníme Česko k lepšímu
        p.g-subtitle-h1.hero__subtitle
          | Jsme komunita špičkových vývojářů, designérů a produkťáků, kteří chtějí ve svém volném čase pomáhat státu i nestátním organizacím a dělat tak Česko lepším místem k životu.
        ul.hero__cta
          li.hero__cta-item
            a.btn.btn--cta(href='https://join.slack.com/t/cesko-digital/shared_invite/zt-6ygukc79-RwoSj8b90rZx1_4P_oJHow') Přidej se k nám
          li.hero__cta-item
            a.btn.btn--cta(href='https://forms.gle/yAxPSueBJgyffEGi8') Přihlas projekt

      include includes/social

  section.numbers
    ul.numbers__list
      li.number.numbers__list-item
        a(href="https://slack.cesko.digital/").number__value 2000+
        span.number__label Zapojených lidí
      li.number.numbers__list-item
        a(href="https://github.com/cesko-digital").number__value 3
        span.number__label Dokončené projekty
      li.number.numbers__list-item
        a(href="#projects").number__value 7+
        span.number__label Rozjetých projektů
      li.number.numbers__list-item
        span.number__value ∞
        span.number__label Commitů

  section#idea.idea
    .idea__wrap
      .idea__content
        h2.g-title-h2 Co je Česko.Digital
        p
          | Jsme komunita IT profesionálů – vývojářů, grafiků, produkťáků – kteří chtějí pro-bono pomáhat státu i nestátním organizacím udělat Česko lepším místem pro život. Máme za sebou celosvětové úspěchy a úhrnem stovky let praxe. A víme, že pomocí IT dokážeme dosáhnout velkých věcí, které stojí méně, ale fungují lépe.
        p To je Česko.Digital.
        p
          | Pracujete na veřejně prospěšných projektech, ale chybí vám IT profesionálové?&nbsp;
          a(href='https://forms.gle/yAxPSueBJgyffEGi8' target="_blank") Napište nám.
        p
          | Studujete nebo pracujete v IT?&nbsp;
          a(href='https://slack.cesko.digital/') Pojďte do toho s námi!

  section#projects.projects
    .projects__wrap
      .projects__content
        -
          var labels = {};

          var projects = [
            {
              title: 'Učíme online',
              tagline: 'Jak na online vyučování snadno a rychle',
              about: 'Pomáháme školám, učitelům, rodičům i studentům co nejlépe využít možnosti vzdáleného vzdělávání pomocí Microsoft Teams nebo Google Classroom – od nasazení, nastavení a zaškolení softwaru přes inspiraci učitelů až po návody pro studenty a rodiče.',
              more: 'Projekt vznikl ve spolupráci s komunitou GUG.cz, GEG ČR, Microsoft Studentské trenérské centrum, Microsoft Innovative Educator Experts, společnostmi Google ČR, Microsoft ČR a American Academy.',
              web: 'https://www.ucimeonline.cz',
              slack: 'p-ucime-online',
              slackUrl: 'https://cesko-digital.slack.com/archives/CUXRHTY58',
            },
            {
              title: 'Dáme roušky',
              tagline: 'Propojujeme ty, kteří roušky šijí, s těmi, kteří je potřebují',
              about: 'Ve spolupráci se startupem Mapotic vytvořili dobrovolníci v Česko.Digital mapu, která reaguje na kritický nedostatek ochranných prostředků při pandemii nemoci COVID 19. Mapa, na níž se během prvního týdne objevilo více než 1400 bodů, propojuje poptávky a nabídky roušek, dodavatele textilií, 3D tiskaře pomůcek pro šití, opraváře šicích strojů a poskytovatele návazných služeb. Zkrátka dělá všechno pro to, aby se důležité ochranné pomůcky dostaly všude, kde jsou potřeba.',
              web: 'https://www.damerousky.cz',
              slack: 'p-damerousky',
              slackUrl: 'https://cesko-digital.slack.com/archives/CV4566SRG',
            },
            {
              title: 'Šablony výběrových řízení',
              tagline: 'Lepší výběrová řízení pro veřejnou správu',
              about: 'Na tom, že výběrová řízení na dodavatele i nové zaměstnance by ve veřejné správě měla vypadat jinak, se shodnou prakticky všichni. Rádi bychom pomohli najít shodu i na tom, jak přesně by takové lepší výběrové řízení mohlo vypadat. Hledáme experty z veřejné správy a především koordinátora, který nám projekt pomůže posunout dopředu – ozvěte se!',
              slack: 'p-sablony-vyberovych-rizeni',
              slackUrl: 'https://cesko-digital.slack.com/archives/CSHURJA9L',
            },
            {
              title: 'Paragonek',
              tagline: 'Konec papírovým účtenkám',
              about: 'Cílem projektu s pracovním názvem Paragonek je vznik jednotného místa pro plné využití elektronických účtenek tak, aby papírové účtenky už nebyly potřeba. Projekt kultivuje digitální prostředí sjednocením úložišť dodavatelů na trhu, snižuje náklady podnikatelů a podporuje bezpapírová řešení.',
              slack: 'p-paragonek',
              slackUrl: 'https://cesko-digital.slack.com/archives/CUM0HJ5QB',
            },
            {
              title: 'CityVizor',
              tagline: 'Transparentní hospodaření pro každé město a obec',
              about: 'Opensource projekt, původně z dílny Ministerstva financí ČR, přináší přehlednou vizualizaci rozpočtu obce s detailními daty až na úroveň jednotlivých faktur a otevírá tím její hospodaření.',
              more: 'Hledáme hlavně šikovné kreativní produkťáky a analytiky, kteří pomohou najít a s uživateli otestovat produktovou strategii, která pomůže rozšířit projekt ze stávajících sedmi na 1000 obcí. Více na Slacku Česko.Digital v kanálu <a href="https://cesko-digital.slack.com/messages/CG66HNLH4">#p-cityvizor</a>.',
              github: 'https://github.com/cityvizor/cityvizor',
              slack: 'p-cityvizor',
              slackUrl: 'https://cesko-digital.slack.com/messages/CG66HNLH4',
              trello: 'https://trello.com/b/BFJahQYG/cityvizor',
            },
            {
              title: 'Nasipolitici.cz',
              tagline: 'Naši politici jasně, přehledně, detailně',
              about: 'Transparency International chystá kompletní oživení projektu Nasipolitici.cz. I díky datové spolupráce s Hlídačem Státu vytváří přehledný portál s informacemi o jednotlivých politicích.',
              more: 'Hledáme produkťáky, kteří pomohou analyzovat projekt a připravit zadání.',
              slack: 'p-nasi-politici',
              slackUrl: 'https://cesko-digital.slack.com/messages/CK0ER8UBG',
              trello: 'https://trello.com/b/gJA4Y6Ml/na%C5%A1i-politici'
            },
            {
              title: 'Nedlužím státu',
              tagline: 'Pomáháme lidem zjistit jejich celkové zadlužení',
              about: 'S využitím datových schránek, automaticky generovaných žádostí a doufejme i strojově čitelných odpovědí, chceme vybudovat portál, který občanům usnadní zjistit, zda/kolik a kde dluží ve vztahu k veřejným institucím. Jedním z důvodů, proč lidé končí v exekuci, je  často právě nevědomost, že dluhy vůbec existují. V případě veřejných institucí je získat komplexní přehled takřka nadlidský úkol.',
              more: 'Hledáme produkťáky, kteří pomohou s detailním návrhem zadání.',
              slack: 'p-prehled-dluhu',
              slackUrl: 'https://cesko-digital.slack.com/messages/CHTQQN5AL',
              trello: 'https://trello.com/b/UQaCcU62/p%C5%99ehled-dluh%C5%AF'
            }
          ];

        if projects && projects.length
          h2.g-title-h2 Projekty Česko.Digital
          .project-list
            each project in projects
              +project(labels, project)

  section#faq.faq
    .faq__wrap
      h2.g-title-h2.g-title-h2--light Často kladené otázky

      -
        var faqs = [
          { title: 'Jak pracujete / jak to funguje?', value: 'Hlavním místem pro naší práce a komunikaci je náš Slack. Nejlepší je se nejdříve <a href="https://slack.cesko.digital/">přihlásit tam</a> a potom si přečíst <a href="https://docs.google.com/document/d/1-nhF2MWeHeL48ZX8yD6xpzH0XNC9amOJa6wn2RdLumI/edit" target="_blank">odpovědi na pár počátačních otázek</a>.' },
          { title: 'Kterým projektům chcete pomáhat?', value: 'Při výběru projektů, kterým můžeme pomoci, vycházíme hlavně z dvou kritérií – jakou přidanou hodnotu může mít spolupráce s Česko.Digital pro projekt a jaký pozitivní dopad bude mít hotový projekt na společnost. Při rozhodování se opíráme o naše <a href="#values">základní hodnoty</a> a inspirujeme se <a href="http://ashoka-cee.org/czech/fellows/#fellows-criteria" target="_blank">požadavky pro přijímání nových členů</a> do mezinárodní organizace Ashoka.<br><br>Víte o projektu, o kterém jste přesvědčeni, že je vhodný pro spolupráci s Česko.Digital?<br><br><a href="https://forms.gle/yAxPSueBJgyffEGi8" style="font-weight: bold" target="_blank">Navrhnout projekt pro Česko.Digital</a>' },
          { title: 'Zase další „hackathon pro dobro“?', value: 'Hackathony jsou skvělé na jednorázový výbuch kreativní energie, ale dlouhodobě projekty většinou umírají. Hodnota Česko.Digital je v dlouhodobém vedení a rozvíjení projektů.' },
          { title: 'Kolik si účtujete za svoji práci?', value: 'Členové Česko.Digital pracují na projektech ve svém volném čase, zdarma, motivování snahou zlepšit svět kolem nás.' },
          { title: 'Proč raději nejdete pomáhat _____ ?', value: 'Věříme tomu, že každý může pomáhat tak, jak nejlépe umí. Nás baví technologie a myslíme si, že s jejich pomocí jde (při dobré myšlence) pomáhat mnoha lidem velmi efektivně.' },
          { title: 'To by mne zajímalo, kdo tohle platí!', value: 'Snažíme se udržovat efektivní organizaci s minimálními náklady. Jsme financováni čistě ze soukromých zdrojů.' },
          { title: 'Kdo stojí za Česko.Digital?', value: 'Projekt původně založil Jakub Nešetřil ve spolupráci s Lenkou Kováčovou z Nadace OSF, ale Česko.Digital tvoří stovky lidí, kteří nám pomáhají zlepšovat Česko.' },
        ];

      each item in faqs
        +faq(item)

  section#values.values
    .values__wrap
      .values__content
        h2.g-title-h2.g-title-h2--light Hodnoty Česko.Digital

        -
          var values = [
            { title: 'Otevřenost je náš standard', value: '<a href="https://github.com/cesko-digital" target="_blank">Open source</a>, otevřená data, otevřená organizace, <a href="https://www.rb.cz/povinne-zverejnovane-informace/transparentni-ucty?mvcPath=transactions&accountNumber=1113331177" target="_blank">transparentní účetnictví</a> - transparentnost pomáhá snadnému zapojení co nejširší komunity.' },
            { title: 'Efektivita', value: 'Nemrháme časem lidí ani finančními prostředky. Soustředíme se na rychlá řešení reálných problémů pomocí technologií.'},
            { title: 'Profesionalita', value: 'Zakládáme si na kvalitní práci, moderních technologiích a postupech, přestože pracujeme pro-bono.'},
            { title: 'Participativní', value: 'Pro každého musí být jednoduché se zapojit – bez ohledu na místo a čas.'},
            { title: 'Uživatelé v hlavní roli', value: 'Pomáháme s projekty, které řeší skutečné potřeby koncových uživatelů. Projekty bez reálného využití nemají význam.'},
            { title: 'Produkty > Technologie', value: 'Důležitý je výsledek, ne prostředek. Chceme, aby technologie a procesy byly užitečným nástrojem pro lidi, ne naopak.'}
          ]
        ul.value-items
          each value in values
            +value(value)

  section#partners.partners
    .partners__wrap
      .partners__content
        h2.g-title-h2.partners-title Spolupracujeme&nbsp;s

        -
          var partners = [
            { name: 'CityVizor.cz', src: require('./images/partners/cityvizor.jpg'), link: 'https://cityvizor.cz/' },
            { name: 'CZ.NIC', src: require('./images/partners/cz-nic.jpg'), link: 'https://www.nic.cz/' },
            { name: 'Hlídač státu', src: require('./images/partners/hlidac-statu.jpg'), link: 'https://www.hlidacstatu.cz/' },
            { name: 'Institut prevence a řešení předlužení', src: require('./images/partners/institut-predluzeni.jpg'), link: 'https://www.institut-predluzeni.cz/' },
            { name: 'Nadace OSF', src: require('./images/partners/osf.jpg'), link: 'https://osf.cz/cs/' },
            { name: 'Transparency International', src: require('./images/partners/transparency.jpg'), link: 'https://www.transparency.cz/' },
            { name: 'Y Soft', src: require('./images/partners/ysoft.jpg'), link: 'https://www.ysoft.com/cs' },
            { name: 'Otevřená města', src: require('./images/partners/otevrena-mesta.png'), link: 'https://www.otevrenamesta.cz/' },
          ]
        ul.partners-list
          each partner in partners
            +partner(partner)

  section#media.media
    .media__wrap
      .media__content
        h2.g-title-h2 Pro média
        ul
          li
            a.media__list-link(href='assets/cesko-digital_logo.zip') Logo Česko.Digital
          li
            a.media__list-link(href='assets/tiskova-zprava.pdf') Tisková zpráva Česko.Digital

  footer.footer
    ul.nav.nav--footer
      li
        a.btn.nav__link.nav__link--footer(href='#idea') Kdo jsme
      li
        a.btn.nav__link.nav__link--footer(href='#projects') Co děláme
      li
        a.btn.nav__link.nav__link--footer(href='https://blog.cesko.digital/') Blog
      li
        a.btn.nav__link.nav__link--footer(href='en.html') English
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta.g-hide-mobile(href='https://slack.cesko.digital/') Přidej se k nám
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="https://www.facebook.com/cesko.digital" target="_blank" rel="noopener noreferrer") Facebook
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="https://twitter.com/CeskoDigital" target="_blank" rel="noopener noreferrer") Twitter
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="http://github.com/cesko-digital" target="_blank" rel="noopener noreferrer") GitHub
