extends layout.pug

block vars
  - var lang = "cs";
  - var title = "Česko.Digital - Skrz jedničky a nuly měníme Česko k lepšímu";
  - var description = "Jsme komunita špičkových vývojářů, designérů a produkťáků, kteří chtějí ve svém volném čase pomáhat státu i nestátním organizacím a dělat tak Česko lepším místem k životu."
  - var ogTitle = "Skrz jedničky a nuly měníme Česko k lepšímu";
  - var ogDescription = "Jsme komunita špičkových vývojářů, designérů a produkťáků, kteří chtějí ve svém volném čase pomáhat státu i nestátním organizacím a dělat tak Česko lepším místem k životu.";

block content
  .hero
    header.header
      a.btn.nav__link.nav__link--nopadding.logo(href='https://cesko.digital/', aria-label='Česko.Digital')
        span.logo__inner
          | cesko.digital
          span
      nav
        ul.nav
          li
            a.btn.nav__link(href='#idea') Naše vize
          li
            a.btn.nav__link(href='#team') Kdo jsme
          li
            a.btn.nav__link(href='#media') Pro media
          li
            a.btn.nav__link(href='en.html') English
          li
            a.btn.nav__link.nav__link--cta.g-hide-mobile(href='https://slack.cesko.digital/') Přidej se k nám
    .hero__wrap
      .hero__content
        h1.g-title-h1.hero__title Skrz jedničky a nuly měníme Česko k lepšímu
        p.g-subtitle-h1.hero__subtitle
          | Jsme komunita špičkových vývojářů, designérů a produkťáků, kteří chtějí ve svém volném čase pomáhat státu i nestátním organizacím a dělat tak Česko lepším místem k životu.
        a.btn.btn--cta(href='https://slack.cesko.digital/') Přidej se k nám

      include includes/social

  section.numbers
    ul.numbers__list
      li.number.numbers__list-item
        a(href="https://slack.cesko.digital/").number__value 568
        span.number__label Zapojených lidí
      li.number.numbers__list-item
        a(href="https://github.com/cesko-digital").number__value 2
        span.number__label Dokončené projekty
      li.number.numbers__list-item
        a(href="#projects").number__value 5
        span.number__label Rozjetých projektů
      li.number.numbers__list-item
        span.number__value 147
        span.number__label Commitů
  section#idea.idea
    .idea__wrap
      .idea__content
        h2.g-title-h2 Co je Česko.Digital
        p
          | Jsme komunita IT profesionálů - vývojářů, grafiků, produkťáků - kteří chtějí pro-bono pomáhat státu i nestátním organizacím udělat Česko lepším místem pro život. Máme za sebou celosvětové úspěchy a úhrnem stovky let praxe. A víme, že pomocí IT dokážeme dosáhnout velkých věcí, které stojí méně ale fungují lépe.
        p To je Česko.Digital.
        p
          | Pracujete na veřejně prospěšných projektech, ale chybí vám IT profesionálové?
          a(href='mailto:lenka@cesko.digital') Napište nám.
        p
          | Studujete nebo pracujete v IT?
          a(href='https://slack.cesko.digital/') Pojďte do toho s námi!
  section#team.team
    .team__wrap
      .team__content
        h2.g-title-h2 Přijďte se potkat osobně!
        p
          | Příští meetup zatím připravujeme, ale mezitím se můžete podívat na 
          a(href="https://slideslive.com/ceskodigital/talks") záznam z minulého meetupu
          | .
  section#partners.partners
  section#projects.projects
    .projects__wrap
      .projects__content
        -
          var labels = {
            //- about: 'O projektu',
            more: 'Naše role',
          };

          var projects = [
            {
              title: 'CitiVizor',
              tagline: 'Transparentní hospodaření pro každé město a obec',
              about: 'Opensource projekt, původně z dílny Ministerstva financí ČR přináší přehlednou vizualizaci rozpočtu obce s detailními daty až na úroveň jednotlivých faktur a ztransparentňuje tím její hospodaření.',
              more: 'Hledáme hlavně šikovné kreativní produkťáky a analytiky, kteří pomohou najít a s uživateli otestovat produktovou strategii, která pomůže rozšířit projekt ze stávajících sedmi na 1000 obcí. Více na Slacku Česko.Digital v kanálu <a href="https://cesko-digital.slack.com/messages/CG66HNLH4">#cityvizor</a>',
              github: 'https://github.com/cityvizor/cityvizor',
              slack: 'cityvizor',
              slackUrl: 'https://cesko-digital.slack.com/messages/CG66HNLH4',
            },
            {
              title: 'Hlídač státu',
              tagline: 'Největší český projekt kontroly státní správy',
              about: 'Hlídač státu je suverenně největší IT projekt v ČR, který sbírá, agreguje a vizualizuje data o veřejné správě. Aktuálně se bude rozšiřovat o 1) vizuálně přívětivý způsob přidávání nových datových sad pro netechnické uživatele, 2) vizualizaci i dat z Insolvenčního rejstříku.',
              more: '<p>Hledáme frontend vývojáře pro nová rozšíření:</p> <ol><li>vizuálně přívětivý způsob přidávání nových datových sad i pro netechnické uživatele</li><li>na vizualizaci vizuální prezentaci dat z Insolvenčního rejstříku.</li></ol> <p>Hledáme také .NET vývojáře pro dokumentování hlavní codebase.</p>',
              github: 'https://github.com/HlidacStatu/HlidacStatu',
              slack: 'hlidac-statu',
              slackUrl: 'https://cesko-digital.slack.com/messages/CGURS1HD5',
            },
            {
              title: 'Interaktivní právní interview',
              tagline: 'Místo paragrafů sada jednoduchých otázek',
              about: 'Projekt právní poradny Frank Bold, který občanům usnadňuje tvorbu právních dokumentů pro časté úkony (například zakládání spolků). Inspirováno projektem <a href="https://community.lawyer/">Community Lawyer</a> a nástrojem <a href="https://docassemble.org/">DocAssemble</a>.',
              more: 'Hledáme seniorní vývojáře pro technickou analýzu a návrh řešení. Více informací na Slacku Česko.Digital v kanále <a href="https://cesko-digital.slack.com/messages/CK0GJH5N2">#ipi</a>',
              slack: 'ipi',
              slackUrl: 'https://cesko-digital.slack.com/messages/CK0GJH5N2',
            },
            {
              title: 'Nasipolitici.cz',
              tagline: 'Naši politici jasně, přehledně, detailně',
              about: 'Transparency International chystá kompletní oživení projektu Nasipolitici.cz. I díky datové spolupráce s Hlídačem Státu vytváří přehledný portál s informacemi o jednotlivých politicích.',
              more: 'Hledáme produkťáky kteří pomohou zanalyzovat projekt a připravit zadání.',
              slack: 'nasi-politici',
              slackUrl: 'https://cesko-digital.slack.com/messages/CK0ER8UBG'
            },
            {
              title: 'Portál oddlužení',
              tagline: 'Pomáháme lidem zjistit jejich celkové zadlužení',
              about: 'S využitím datových schránek, automaticky generovaných žádostí a doufejme i strojově čitelných odpovědí, chceme vybudovat portál, který občanům usnadní zjistit zda/kolik a kde dluží.Hlavní důvod proč lidé končí v exekuci je totiž často právě nevědomost, že dluhy vůbec existují. V případě veřejných institucí je získat přehled takřka nadlidský úkol.',
              more: 'Hledáme produkťáky, kteří pomohou s detailním návrhem zadání.',
              slack: 'prehled-dluhu',
              slackUrl: 'https://cesko-digital.slack.com/messages/CHTQQN5AL'
            }
          ];

        if projects && projects.length
          h2.g-title-h2 Projekty Česko.Digital
          .project-list
            each project in projects
              +project(labels, project)
  section#media.media
    .media__wrap
      .media__content
        h2.g-title-h2 Pro média
        ul
          li
            a.media__list-link(href='assets/cesko-digital_logo.zip') Logo Česko.Digital
          li
            a.media__list-link(href='assets/tiskova-zprava.pdf') Tisková zpráva Česko.Digital
  section#faq.faq
    .faq__wrap
      h2.g-title-h2.g-title-h2--light Často kladené otázky

      -
        var faqs = [
          { title: 'Jak pracujete / jak to funguje?', value: 'Hlavním místem pro naší práce a komunikaci je náš Slack. Nejlepší je se nejdříve <a href="https://slack.cesko.digital/">přihlásit tam</a> a potom si přečíst <a href="https://docs.google.com/document/d/1-nhF2MWeHeL48ZX8yD6xpzH0XNC9amOJa6wn2RdLumI/edit">odpovědi na pár počátačních otázek</a>.' },
          { title: 'Zase další „hackathon pro dobro“?', value: 'Hackathony jsou skvělé na jednorázový výbuch kreativní energie, ale dlouhodobě projekty většinou umírají. Hodnota Česko.Digital je v dlouhodobém vedení a rozvíjení projektů.' },
          { title: 'Kolik si účtujete za svoji práci?', value: 'Členové Česko.Digital pracují na projektech ve svém volném čase, zdarma, motivování snahou zlepšit svět kolem nás.' },
          { title: 'Proč raději nejdete pomáhat _____ ?', value: 'Věříme tomu, že každý může pomáhat tak, jak nejlépe umí. Nás baví technologie a myslíme si, že pomocí nich jde (při dobré myšlence) pomáhat mnoha lidem velmi efektivně.' },
          { title: 'To by mne zajímalo, kdo tohle platí!', value: 'Snažíme se udržovat efektivní organizaci s minimálními náklady. Jsme financováni čistě ze soukromých zdrojů.' },
          { title: 'Kdo stojí za Česko.Digital?', value: 'Projekt původně založil Jakub Nešetřil ve spolupráci s Lenkou Kováčovou z Nadace OSF, ale Česko.Digital tvoří stovky lidí, kteří nám pomáhají dělat Česko lepším.' },
        ];

      each item in faqs
        +faq(item)

  footer.footer
    ul.nav.nav--footer
      li
        a.btn.nav__link.nav__link--footer(href='#idea') Naše vize
      li
        a.btn.nav__link.nav__link--footer(href='#team') Kdo jsme
      li
        a.btn.nav__link.nav__link--footer(href='#media') Pro media
      li
        a.btn.nav__link.nav__link--footer(href='en.html') English
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta.g-hide-mobile(href='https://slack.cesko.digital/') Přidej se k nám
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="https://www.facebook.com/cesko.digital" target="_blank" rel="noopener noreferrer") Facebook
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="https://twitter.com/CeskoDigital" target="_blank" rel="noopener noreferrer") Twitter
      li
        a.btn.nav__link.nav__link--footer.nav__link--cta(href="http://github.com/cesko-digital" target="_blank" rel="noopener noreferrer") GitHub
