name: Newsletter Subscribe

on:
  schedule:
    - cron: "5 4 * * *" # Run at 4.05 UTC each day
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ECOMAIL_API_KEY: ${{ secrets.ECOMAIL_API_KEY }}
      AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
    steps:
      - uses: actions/checkout@v2
      - name: Sync
        run: |
          yarn install
          ./bin/newsletter-subscribe.ts
